@media screen and (min-width: 320px) and (max-width: 479px){
  html{
  font-size: 60%;
}
.wraper{
  margin: 0;
  overflow: hidden;
}
.header {
  margin: 5px 0 10px 10px;
}
.sidebar_left{
 display: none;
}
.content{
  float: none;
  margin: 0 0 0 10px;
  padding: 0;
  width: 100%;
}
.sidebar_right{
  float: none;
  margin: 0;
}
.logo_t{
 display: none;
}
.main_foto{
  width: 100%;
  margin: 0;
  margin-left: -10px;
  padding-top: 8px; 
}
.text_ande_foto{
  width: 98%;
  margin: 0;
  padding-top: 5px;
}
.post_img_1{
  float:none;
  width: 100%;
  margin: 0;
  padding: 5px 0;
  margin-left: -10px;
}
.other_color{
  margin: 0;
  padding: 0;
}
.blok_post{
  width: 98%;
  margin: 0;
  padding: 0;
}
.text_post{
padding: 0 0 5px;
}
.post_nomer{
  margin: 0;
  padding: 0;
}
.date_1,
.date{
  margin: 0;
  padding: 5px 0;
}
.content h2{
  margin: 0;
  padding: 5px 0;
}
.pagination{
  margin: 5px 0;
}
.sidebar_right{
  width: 100%;
  float: none;
  margin-bottom: 10px;
}
.sidebar_160,
.sidebar_120{
  width: 100%;
  float: none;
  text-align: center;
}
.sidebar_right h3 {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  text-align: center;
}
.rsidebar_img{
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 10px;
}
.footer{
  margin: 0;
  padding: 5px 0;
}
}
@media screen and (min-width: 480px) and (max-width: 767px){
     html{
  font-size: 70%;
}
.wraper{
  margin: 0;
  overflow: hidden;
}
.header {
  margin: 5px 0 10px 10px;
}
.sidebar_left{
 float: left;
 width: 20%;
}
.content{
  overflow: hidden;
  margin: 0 0 0 25px;
  padding: 0;
  width: 70%;
}
.logo_t{
 display: none;
}
.main_foto{
  width: 100%;
  margin: 0;
  margin-left: -10px;
  padding-top: 8px; 
}
.text_ande_foto{
  width: 98%;
  margin: 0;
  padding-top: 5px;
}
.post_img_1{
  float:none;
  width: 100%;
  margin: 0;
  padding: 5px 0;
  margin-left: -10px;
}
.other_color{
  margin: 0;
  padding: 0;
}
.blok_post{
  width: 98%;
  margin: 0;
  padding: 0;
}
.text_post{
padding: 0 0 5px;
}
.post_nomer{
  margin: 0;
  padding: 0;
}
.date_1,
.date{
  margin: 0;
  padding: 5px 0;
}
.content h2{
  margin: 0;
  padding: 5px 0;
}
.pagination{
  margin: 5px 0;
}
.sidebar_right{
  width: 100%;
  float: none;
  margin-bottom: 10px;
}
.sidebar_160,
.sidebar_120{
  width: 90%;
  float: none;
  text-align: center;
}
.sidebar_right h3 {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  text-align: center;
}
.rsidebar_img{
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 10px;
}
.footer{
  margin: 0;
  padding: 5px 0;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
     html{
  font-size: 70%;
}
.wraper{
  margin: 0;
  overflow: hidden;
}
.header {
  margin: 5px 0 10px 10px;
}
.sidebar_left{
 float: left;
 width: 12%;
}
.content{
  overflow: hidden;
  margin: 10px 18px 0 18px;
  padding: 0;
  width: 50%;
}
.content h1{
  width: 98%;
  margin-right: 0;
}
.logo_t{
  display: none;
 }
.main_foto{
  width: 100%;
  margin: 0;
  padding-top: 8px; 
}
.text_ande_foto{
  width: 98%;
  margin: 0;
  padding-top: 5px;
}
.post_img_1{
  float:none;
  width: 100%;
  margin: 0;
  padding: 5px 0;
}
.other_color{
  margin: 0;
  padding: 0;
}
.blok_post{
  width: 98%;
  margin: 0;
  padding: 0;
}
.text_post{
  padding: 0 0 5px;
}
.post_nomer{
  margin: 0;
  padding: 0;
}
.date_1,
.date{
  margin: 0;
  padding: 5px 0;
}
.content h2{
  margin: 0;
  padding: 5px 0;
}
.pagination{
  margin: 5px 0;
}
.sidebar_right{
  width: 29%;
  float: left;
  margin-bottom: 10px;
  margin-top: 47px;
}
.sidebar_160,
.sidebar_120{
  width: 100%;
  float: none;
  text-align: center;
}
.sidebar_right h3 {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  text-align: center;
}
.rsidebar_img{
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 10px;
}
.footer{
  margin: 0;
  padding: 5px 0;
}
}
@media screen and (min-width: 1024px) and (max-width: 1199px){
 html{
  font-size: 70%;
}
.wraper{
  margin: 0;
  overflow: hidden;
}
.header {
  margin: 5px 0 10px 10px;
}
.sidebar_left{
 float: left;
 width: 12%;
}
.content{
  overflow: hidden;
  margin: 10px 18px 0 18px;
  padding: 0;
  width: 50%;
}
.content h1{
  width: 98%;
  margin-right: 0;
}
.main_foto{
  width: 100%;
  margin: 0;
  padding-top: 8px; 
}
.text_ande_foto{
  width: 98%;
  margin: 0;
  padding-top: 5px;
}
.post_img_1{
  float:none;
  width: 100%;
  margin: 0;
  padding: 5px 0;
}
.other_color{
  margin: 0;
  padding: 0;
}
.blok_post{
  width: 98%;
  margin: 0;
  padding: 0;
}
.text_post{
  padding: 0 0 5px;
}
.post_nomer{
  margin: 0;
  padding: 0;
}
.date_1,
.date{
  margin: 0;
  padding: 5px 0;
}
.content h2{
  margin: 0;
  padding: 5px 0;
}
.pagination{
  margin: 5px 0;
}
.sidebar_right{
  width: 29%;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
}
.logo_t{
  margin: 0;
  padding: 0;
  overflow: hidden;
 }
 .name_logo
{
  font-size: 70%;
  width: 24%;
  float: left;
}
.sidebar_160,
.sidebar_120{
  width: 100%;
  float: none;
  text-align: center;
}
.sidebar_right h3 {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  text-align: center;
}
.rsidebar_img{
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 10px;
}
.footer{
  margin: 0;
  padding: 5px 0;
}
}
