@media screen and (min-width: 320px) and (max-width: 479px){
  html{
  font-size: 60%;
}
.wraper{
  margin: 0;
  overflow: hidden;
}
.header {
  margin: 5px 0 10px 10px;
}
.sidebar_left{
 display: none;
}
.content{
  float: none;
  margin: 0 0 0 10px;
  padding: 0;
  width: 100%;
}
.sidebar_right{
  float: none;
  margin: 0;
}
.logo_t{
  display: none;
}
.main_foto{
  width: 100%;
  margin: 0;
  margin-left: -10px;
  padding-top: 8px; 
}
.text_ande_foto{
  width: 90%;
  margin: 0;
  padding-top: 5px;
}
.post_img_1{
  float:none;
  width: 100%;
  margin: 0;
  padding: 5px 0;
  margin-left: -10px;
}
.other_color{
  margin: 0;
  padding: 0;
}
.blok_post{
  width: 90%;
  margin: 0;
  padding: 0;
}
.text_post{
padding: 0 0 5px;
}
.post_nomer{
  margin: 0;
  padding: 0;
}
.date_1,
.date{
  margin: 0;
  padding: 5px 0;
}
.content h2{
  margin: 0;
  padding: 5px 0;
}
.pagination{
  display: none;
}
.sidebar_right{
  width: 100%;
  float: none;
  margin-bottom: 10px;
}
.sidebar_160,
.sidebar_120{
  width: 90%;
  float: none;
  text-align: center;
}
.sidebar_right h3 {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  text-align: center;
}
.rsidebar_img{
  width: 100%;
  height: auto;
  margin: 0;
  padding-bottom: 10px;
}
.footer{
  margin: 0;
  padding: 5px 0;
}
}
@media screen and (min-width: 480px) and (max-width: 767px){
    
}
@media screen and (min-width: 768px) and (max-width: 1023px){

}
@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 1200px) {

}